<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <appender name="APP_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/Clock.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/Clock.%d{yyyy-MM-dd}.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date %-5level [%thread] %logger{36} - %message%n</pattern>
        </encoder>
    </appender>

    <logger name="com.exsio" level="DEBUG" >
        <appender-ref ref="APP_LOG"/>
    </logger>

    <logger name="org.springframework" level="INFO" >
        <appender-ref ref="APP_LOG"/>
    </logger>

</configuration>